
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>About Us
  </title>
  <link href="../style.css" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
 <nav class="navbar">
  <a class="navbar-brand" href="../index.html">
    <span class="icon-paw">🐾</span>
    <span>Pet Lovers</span>
  </a>
  <ul class="navbar-nav">
    <li><a class="nav-link" href="../index.html">Home</a></li>
    <li><a class="nav-link" href="./views/About.html">About Us</a></li>
    <li><a class="nav-link" href="./views/Contact.html">Contact Us</a></li>
    <li><a class="nav-link" href="../index.html">Posts</a></li>
  </ul>
 </nav>


<!-- Main -->
 <div class="container mt-3">
  <h1 class="text-center mb-3">Meet Our Team</h1>
  <p class="lead text-center mb-3"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis quidem numquam, consequuntur commodi error debitis. Nobis fugit, temporibus animi esse hic deleniti quaerat itaque ratione at delectus similique doloribus est!</p>
  <h1 class="text-center mb-3">Mission</h1>
  <p class="lead text-center mb-3"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis quidem numquam, consequuntur commodi error debitis. Nobis fugit, temporibus animi esse hic deleniti quaerat itaque ratione at delectus similique doloribus est!</p>
  <h1 class="text-center mb-3">Vission</h1>
  <p class="lead text-center mb-3"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis quidem numquam, consequuntur commodi error debitis. Nobis fugit, temporibus animi esse hic deleniti quaerat itaque ratione at delectus similique doloribus est!</p>

  <div class="row justify-content-center g-4">
    <div class="col-md-4">
      <div class="team-card">
        <img src="../Pic/im2.png" alt="m1" class="img-profile">
        <h5>Member 1</h5>
        <p class="text-muted">Specialist</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum deleniti voluptas totam perspiciatis eos autem natus at laudantium enim, culpa quaerat. Necessitatibus porro fuga minima hic tempora. Vel, soluta sunt.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="team-card">
        <img src="../Pic/im3.png" alt="m2" class="img-profile">
        <h5>Member 2</h5>
        <p class="text-muted">Specialist</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum deleniti voluptas totam perspiciatis eos autem natus at laudantium enim, culpa quaerat. Necessitatibus porro fuga minima hic tempora. Vel, soluta sunt.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="team-card">
        <img src="../Pic/im2.png" alt="m3" class="img-profile">
        <h5>Member 3</h5>
        <p class="text-muted">Specialist</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum deleniti voluptas totam perspiciatis eos autem natus at laudantium enim, culpa quaerat. Necessitatibus porro fuga minima hic tempora. Vel, soluta sunt.</p>
      </div>
    </div>


  </div>
</div>



  <!-- Footer -->
<footer class="footer">
  <div class="container">
    <p><strong>Copyright &copy; Yari 2025</p>
    <p><strong>Project:</strong> Pet Lovers Blog </p>
    <p><strong>Email:</strong> petlovers@abcdefg.com</p>
  </div>
</footer>

  <!-- Scripts -->
   <script src="../script.js"></script>
   <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>

</html>
