
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Contact Us
  </title>
  <link href="../style.css" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
 <nav class="navbar">
  <a class="navbar-brand" href="../index.html">
    <span class="icon-paw">🐾</span>
    <span>Pet Lovers</span>
  </a>
  <ul class="navbar-nav">
    <li><a class="nav-link" href="../index.html">Home</a></li>
    <li><a class="nav-link" href="./views/About.html">About Us</a></li>
    <li><a class="nav-link" href="./views/Contact.html">Contact Us</a></li>
    <li><a class="nav-link" href="../index.html">Posts</a></li>
  </ul>
 </nav>


<!-- Main -->
<div class="container">
    <h1 class="text-center mb-3">Get in touch</h1>
      <div class="contact-info">
        <div class="info-box">
          <h3>📍 Location</h3>
          <p>Imaginary Street, 1234, mx</p>
          <h3>⏰ Email</h3>
          <p>email@email.com</p>
          <h3>☎ Contact</h3>
          <p>Phone: +0 1234567890</p>
          <h3>🌐 Follow us</h3>
          <div class="social-icons">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
          </div>
        </div>


      <div class="contact-form">
        <h2>Send us a message</h2>
        <form>
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email address">
          <textarea placeholder="Message"></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
</div>



  <!-- Footer -->
<footer class="footer">
  <div class="container">
    <p><strong>Copyright &copy; Yari 2025</p>
    <p><strong>Project:</strong> Pet Lovers Blog </p>
    <p><strong>Email:</strong> petlovers@abcdefg.com</p>
  </div>
</footer>

  <!-- Scripts -->
   <script src="../script.js"></script>
   <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>

</html>
